@model StoneSafety.ViewModels.SubCategories.SubCategoryDetailVM

@{
    ViewData["Title"] = "Detail";
}

<div class="card m-auto w-75">
    <div class="card-body">
        <h4 class="card-title">SubCategory Detailed View</h4>
        <div class="mb-3">
            <a href="@Url.Action("Index", "SubCategory")" class="btn btn-primary">Back to SubCategory List</a>
        </div>
        <div class="d-flex">
        </div>
        <div class="mt-5">
            <div class="mb-0 flex-grow d-flex">
                <p class="mb-0 font-weight-light"><strong>Name: </strong>@Model.Name</p>
            </div>
            <div class="mb-0 mt-3 flex-grow d-flex">
                <p class="mb-0 font-weight-light"><strong>Category: </strong>@Model.CategoryName</p>
            </div>
            <div class="mb-0 mt-3 flex-grow d-flex">
                <p class="mb-0 font-weight-light"><strong>Create date: </strong>@Model.CreatedDate</p>
            </div>
            <div class="mb-0 mt-3 flex-grow d-flex">
                <p class="mb-0 font-weight-light"><strong>Update date: </strong>@Model.UpdatedDate</p>
            </div>
            <div class="mb-0 mt-3 flex-grow">
                <p class="mb-0 font-weight-light"><strong>Products:</strong></p>
                <ul class="list-group list-group-flush w-50">
                    @foreach (var item in Model.Products)
                    {
                        <li class="list-group-item">@item</li>
                    }
                </ul>
            </div>
            <div class="mb-0 mt-3 flex-grow">
                <p class="mb-0 font-weight-light"><strong>SubSubCategories:</strong></p>
                <ul class="list-group list-group-flush w-50">
                    @foreach (var item in Model.SubSubCategories)
                    {
                        <li class="list-group-item">@item</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
